.Image-details-container {
    display: flex;
    width: 90vh;
}
.Details-dominant-color {
    display: flex;
    flex-grow: 1;
    text-align: center;
}

.Details-color-palette {
    height: 85vh;
    flex-grow: 2;
    display: flex;
}

.Details-color-palette>div{
    height: 85vh;
    flex-grow: 1;
    text-align: center;
    font-size: large;
}
.Details-color-palette>div>p{
    margin-top: 5vh;
}
.color-Details {
    margin-top: -3vh;
    font-size: small;
}