.Image-field {
    height: 90vh;
    width: 50vw;
    text-align: center;
  }
.Image-container{
    height: 80vh;
    text-align: center;
  }
  
  .Image-container>img {
    max-width: 100%;
    max-height: 100%;
    min-height: 50%;
    position: center;
    display: inline-block;
    border: 0.1rem  rgb(211, 211, 211);
  }
  .Image-container>p {
    margin-top: 30vh;
    font-size: larger;
  }

  .Image-file-input {
      display: none;
  }

  .fade-in{
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }